h1 {
	text-align:center;
}

h3 {
	color:white;
	line-height: 150%;
	letter-spacing: 2px;
	padding-left: 5px
}

.section-header {
	background-color: #174473;
	display:block;
	position:relative;
	border-radius:5px;
	padding:5px;
}

p {font-size:130%;}

body { 
	max-width: 600px;
	font-family:Garamond, Helvetica, Museo, Arial;
	margin: auto
}

.nameandcontact {
	background-color: #eeeeee;
	text-align: center;
	font-style: italic;
}

.nameandcontact h1 {font-style: normal}
.nameandcontact a {
	text-decoration: none;
	font-style:normal;
	color:black;
}

a:hover {color:blue;}

/* This is the CSS for the button at the bottom, can reuse for other buttons if necessary. */

.button {
	border: 2px solid blue;
	padding:5px;
	text-align: center;
	border-radius: 5px;
	background:#eee;
	margin:0 auto;
	max-width: 100px;
}

.button:hover {background:orange;}
.button a {
	text-decoration: none;
	font-style:normal;
	color:black;
}

/* ==== Table Styles === */
table {
	display:block;
	background-color:#FFCC99;
	padding-top:20px;
	padding-botton:10px;
	margin-top:-25px;
	border-radius:5px;
}

.date {
	font-size:90%;
	font-style:italic;
}